{% extends 'place_space/place_space_base.html' %}
{% load static %}
{% block place_space_body %}

{% block responsive %}

<link rel="stylesheet" href="{% static 'css/space_responsive/responsive_file.css' %}" type="text/css">

{% endblock %}

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Message!</strong>{{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


<div class="container-fluid" style="width:100%">

<div  class="mt-2 p-2 mb-1 forForm" style="width:30%;float:right;border:1px solid black;border-radius:10px;background-color:black;">

            <div class="card" style="width: 100%">
              <div class="card-body">
                <h5 class="card-title ">Search The Vacant Place</h5><hr>
                <h6 class="card-subtitle mb-4 text-muted">Booking is done for today only!</h6>

                    <form method="POST" action="{% url 'place_space:search_the_space' place_name %}">
                        {% csrf_token %}
                        {{form.as_p}}

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                    <hr>



                  <div class="card" style="width:100%">
                      <div class="card-header bg-primary">
                        Information
                      </div>
                      <div class="card-body">

                        <ul>
                            <li><span style="color:#66ff00;font-size:30px;"><b>Green</b></span> color indicates the vacant</li>
                            <li>You can click on green slots indicated by vehicle logo</li>
                            <li><span style="color:#CCCC00;font-size:30px;"><b>Yellow</b></span> color indicates the booked slots for specfic time.</li>
                            <li><span style="color:red;font-size:30px;"><b>Red</b></span> slots indicates slots not available.</li>
                        </ul>

                      </div>
                  </div>


              </div>
            </div>
</div>

<!--start of right div-->


 <div class="container-fluid mt-2 forVehicleDisplay" style="width:69%;background-color:#6c6c6c;float:left;padding-left:50px;padding-right:110px;padding-top:30px;border-radius:10px">
    <div class="container border-primary ml-4 mt-5 mr-1">
        <div class="d-flex flex-nowrap">

          <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1 mow "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 mow1' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B1</span></i></button></a>


           <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B2</span></i></button></a>

              <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                              class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B3</span></i></button></a>

              <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                              class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B4</span></i></button></a>


                  <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B5</span></i></button></a>

              <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                              class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B6</span></i></button></a>

           <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B7</span></i></button></a>



              <a class="pan"> <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B8</span></i></button></a>


              <a class="pan" > <button class="btn btn-secondary btn-sm mb-1 mr-1  "  style="width:80px;height:100px;padding-top:13px;padding-right:10px;" ><i
                  class='fas fa-motorcycle fa-rotate-90 ' style='font-size:50px;color:white;margin-right:15px;'><span style="font-size:15px;">B9</span></i></button></a>






            <!--        <button class="btn btn-secondary btn-sm mb-1 mr-1 pan" style="width:40px;height:80px;"><i-->
<!--                class='fas fa-motorcycle fa-rotate-90 ' style='font-size:15px;color:white'><span style="font-size:20px;">B2</span></i></button>-->

                    </div>


        <div class="d-flex flex-nowrap">

           <a class="pan"> <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C1</span></i></button></a>


           <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C2</span></i></button></a>

             <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                               class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C3</span></i></button></a>

         <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                           class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C4</span></i></button></a>

        <a class="pan"> <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C5</span></i></button></a>







          </div>

    </div>

    <div class="d-flex justify-content-between" style="height:90px;width:50px;">
        <div class="mah" style="padding-top:40px;padding-left:6px;"><b><span style="color:white">Entrance/Exit</span></b></div>


    </div>

    <div class="container border-primary ml-4 mt-3 mb-5">
        <div class="d-flex flex-nowrap">

         <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C6</span></i></button></a>

        <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C7</span></i></button></a>

        <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C7</span></i></button></a>

        <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C8</span></i></button></a>

        <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C9</span></i></button></a>










                  </div>
        <div class="d-flex flex-nowrap">

          <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C10</span></i></button></a>

            <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C11</span></i></button></a>

            <a class="pan"> <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C12</span></i></button></a>

            <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C13</span></i></button></a>

            <a class="pan" > <button class="btn btn-secondary mb-1 mr-1 " style="width:145px;height:85px;"><i
                   class='fas fa-car' style='font-size:90px;color:white'><span style="font-size:25px;">C14</span></i></button></a>





          </div>

    </div>
</div>


</div>




{% endblock %}
{% block script %}

<script>


{% if first_entry %}





     let java_vacant_list_of_bike=[]
     let java_vacant_list_of_car=[]
     let java_booked_list=[]
        {% for vacant in bike_vacant_space_list %}
            java_vacant_list_of_bike.push('{{vacant}}')
        {% endfor %}

         {% for vacant in car_vacant_space_list %}
            java_vacant_list_of_car.push('{{vacant}}')
        {% endfor %}


        {% for booked in booked_space_list %}
            java_booked_list.push('{{booked}}')
        {% endfor %}


    class_collection_list=document.getElementsByClassName('pan')


    <!--to check whether place are booked or vacant-->
    function check_for_vacant(){
        Array.from(class_collection_list).forEach(function (element,index){
                a=document.getElementsByClassName('pan')[index].innerText

                if (java_vacant_list_of_bike.includes(a))
                {
                        document.getElementsByClassName('pan')[index].children[0].children[0].style.color="#66ff00"
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-toggle',"modal")
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-target','#'+a)
                        element.removeAttribute('href')
                        {% if user.admin is False %}

                        {% endif %}
                }

                if (java_vacant_list_of_car.includes(a))
                {
                        document.getElementsByClassName('pan')[index].children[0].children[0].style.color="#66ff00"
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-toggle',"modal")
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-target','#'+a)
                        element.removeAttribute('href')
                         {% if user.admin is False %}

                        {% endif %}
                }


        })
    }

    function check_for_booked(){
        Array.from(class_collection_list).forEach(function (element,index){
                a=document.getElementsByClassName('pan')[index].innerText

                if (java_booked_list.includes(a)){
                        document.getElementsByClassName('pan')[index].children[0].children[0].style.color="yellow"
                        document.getElementsByClassName('pan')[index].children[0].title="Search The Place "
                        document.getElementsByClassName('pan')[index].removeAttribute('href')
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-toggle',"modal")
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-target','#'+a)
                        element.addEventListener('click',function(){
                            alert('The place you are clicking is booked for sometime. If slots are not green search place in forms shown in right side ')
                        })

                }


        })
    }


    check_for_vacant()
    check_for_booked()

    element_for_modal=document.createElement('div')
   element_for_modal.class='modal_for_vacant'
   element_for_modal.innerHTML=`<div class="modal fade modal_for_vacant" id="ModalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action='/place_space/green_slots/{{place_name}}/'>
                                {% csrf_token %}
                                {{register_form.as_p}}

                                <a href='/place_space/green_slots/{{place_name}}/'><button class="btn btn-primary" type="submit">Submit</button></a>

                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                <button type="button" class="btn btn-primary">Save changes</button>-->
                              </div>
                            </div>
                          </div>
                        </div>
<!--                        for booked modal-->

                        <div class="modal fade modal_for_booked" id="ModalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action='/place_space/booked_slots/{{place_name}}/'>
                                Kindly look up booked time for space.
                                <hr>
                                {% csrf_token %}
<!--                        1.1 -->
                               {{register_form_for_booked_space.as_p}}

<!--                          1.3 -->
                               <a href='/place_space/booked_slots/{{place_name}}/'><button class="btn btn-primary" type="submit">Submit</button></a>

                                </form>
                                <div id='show_booked_dates_for_space'></div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                <button type="button" class="btn btn-primary">Save changes</button>-->
                              </div>
                            </div>
                          </div>
                        </div>
                        `

   modal_element=document.body.appendChild(element_for_modal)

   modal_collection_for_vaccant=document.getElementsByClassName('modal_for_vacant')
   modal_collection_array=Array.from(modal_collection_for_vaccant)
   Array.from(class_collection_list).forEach(function (element,index){
        element.addEventListener('click',function(){
            console.log(element.innerText)

            if (java_vacant_list_of_bike.includes(element.innerText) || java_vacant_list_of_car.includes(element.innerText)){
                                 modal_collection_for_vaccant=document.getElementsByClassName('modal_for_vacant')
                                 modal_collection_array=Array.from(modal_collection_for_vaccant)
                                console.log('hi')
                                id_space_number=document.getElementById('id_space_number')
                                id_space_number.value=element.innerText
                                modal_collection_array[0].id=element.innerText
            }
            console.log(java_vacant_list_of_bike.includes(element.innerText) || java_vacant_list_of_car.includes(element.innerText))
            console.log(java_booked_list)
            if (java_booked_list.includes(element.innerText)) {
                                modal_collection_for_booked=document.getElementsByClassName('modal_for_booked')
                                modal_collection_array=Array.from(modal_collection_for_booked)
                                console.log('hi inside booked')

                                function fetch_booked(){
                                url=`/place_space/fetch_booked/${element.innerText}/{{place_name}}`
                                fetch(url).then((response)=>{
                                                   return response.json();
                                                        }).then((data)=>{
                                                        console.log(data)
                                                        console.log(data.bike.length)
                                                        console.log(data.bike[0])


                                                        booked_date=`<div class="card">
                                                                        <div class="card-body">The Space is booked For <table class="table table-bordered">
                                                                          <thead>
                                                                            <tr>

                                                                              <th scope="col">Entering Time</th>
                                                                              <th scope="col">Leaving Time</th>

                                                                            </tr>
                                                                          </thead>
                                                                          <tbody>`
                                                        for (i=0;i<data.bike.length;i++){
                                                            console.log(data.bike[i])
                                                            booked_date=booked_date+`<tr><td>`+data.bike[i].entering_time+`</td><td>`+data.bike[i].leaving_time+`</td></tr>`

                                                        }
                                                        booked_date=booked_date+'</tbody></table></div></div>'
                                                        booked_date_element=document.getElementById('show_booked_dates_for_space')
                                                        console.log(booked_date_element)
                                                        booked_date_element.innerHTML=booked_date

                                                        })

                                }
                                id_space_number=document.getElementById('id_space_number1')
<!--                    1.2          -->
                      id_space_number.value=element.innerText
                                modal_collection_array[0].id=element.innerText
                                fetch_booked()


            }
        })
    })


<!--   console.log(document.getElementsByClassName('modal'))-->
<!--   console.log(modal_collection_array)-->

    <!--End of checking-->

{% endif %}




{% if other_then_first %}

     let vacant_list_for_user=[]
     {% for vacant in available_space %}
            vacant_list_for_user.push('{{vacant}}')
     {% endfor %}

     class_collection_list=document.getElementsByClassName('pan')

   function check_for_vacant(){
   let modal_html=''
        Array.from(class_collection_list).forEach(function (element,index){

                a=document.getElementsByClassName('pan')[index].innerText
                entering_time=new Date('{{entering_time}}')
                leaving_time=new Date('{{leaving_time}}')
                entering_time=String(entering_time)
                leaving_time=String(leaving_time)
                place_name=String('{{place_name}}')
                if (vacant_list_for_user.includes(a))
                {

                        document.getElementsByClassName('pan')[index].children[0].children[0].style.color="#66ff00"
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-toggle',"modal")
                        document.getElementsByClassName('pan')[index].children[0].setAttribute('data-target','#'+a)
                        element.removeAttribute('href')



                }

        })



   }


   function check_for_booked(){
        Array.from(class_collection_list).forEach(function (element,index){
                a=document.getElementsByClassName('pan')[index].innerText

                if (vacant_list_for_user.includes(a)==false){
                        document.getElementsByClassName('pan')[index].children[0].children[0].style.color="#B22222" <!--red color-->
                        document.getElementsByClassName('pan')[index].children[0].title="Search The Place "
                        document.getElementsByClassName('pan')[index].removeAttribute('href')

                        element.addEventListener('click',function(){
                            alert('The place you are clicking is already booked for another person at same time ')
                        })

                }


        })
    }


    check_for_vacant()
    check_for_booked()

   element_for_modal=document.createElement('div')
   element_for_modal.class='for_modal'
   element_for_modal.innerHTML=`<div class="modal fade" id="ModalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action="/place_space/proceeded_after_user_searched/{{place_name}}/">
                                {% csrf_token %}
                                {{register_form.as_p}}
                                <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                <button type="button" class="btn btn-primary">Save changes</button>-->
                              </div>
                            </div>
                          </div>
                        </div>`

   modal_element=document.body.appendChild(element_for_modal)

   modal_collection=document.getElementsByClassName('modal')
   modal_collection_array=Array.from(modal_collection)
   Array.from(class_collection_list).forEach(function (element,index){
        element.addEventListener('click',function(){
                                console.log('hi')
                                id_space_number=document.getElementById('id_space_number')
                               id_space_number.value=element.innerText
                                modal_collection_array[0].id=element.innerText
        })
    })

   id_register_entering_time=document.getElementById('id_register_entering_time')
   id_register_entering_time.value=new Date('{{entering_time}}')
   id_register_leaving_time=document.getElementById('id_register_leaving_time')
   id_register_leaving_time.value=new Date('{{leaving_time}}')
   console.log(id_entering_time)
<!--   id_vehicle_number=document.getElementById('id_vehicle_number')-->
<!--   id_vehicle_number.value=new Date('{{entering_time}}')-->
   console.log(document.getElementsByClassName('modal'))
   console.log(modal_collection_array)

{% endif %}







</script>



{% endblock %}


